.logIn {
  max-width: 45rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}

.logIn div {
  text-align: center;
}

.logIn form {
  display: flex;
  flex-direction: column;
}

.logIn input {
  width: 100%;
  background-color: var(--gray-800);
  border: 1px solid var(--gray-600);
  resize: none;
  height: 3rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-bottom: 1rem;
}

.logIn form button {
  width: 100%;
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 0.15s;
}

.logIn form button:hover {
  background: var(--green-500);
  color: var(--white);
}

.logIn.logInLight input {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-400);
  color: var(--gray-900);
}
